body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1e293b;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #38bdf8;
}