* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1e293b;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover,
.active {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 100px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Container */
.container {
    padding: 40px;
}

/* Skills */
.skills {
    margin-top: 10px;
}

.skills li {
    margin-bottom: 8px;
}

/* Projects */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #1e293b;
}
